services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: catamac_api
    ports:
      - "5207:8080"
    environment:
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=CatamacInvoices;Username=admin;Password=password123
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      - db
    restart: always

  db:
    image: postgres:15
    container_name: catamac_db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: CatamacInvoices
    ports:
      - "5432:5432"
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: