services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: invoicesystem_api
    ports:
      - "5207:8080"
    environment:
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=InvoiceSystem;Username=admin;Password=password123
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      db:
        condition: service_healthy
    restart: always

  frontend:
    build:
      context: ./InvoiceSystem.Frontend
      dockerfile: Dockerfile
    container_name: invoicesystem_frontend
    ports:
      - "80:80"
    depends_on:
      - api
    restart: always

  db:
    image: postgres:15
    container_name: invoicesystem_db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: InvoiceSystem
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d InvoiceSystem"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: